:root {
  --blt-font-base: PT Serif, serif;
}

a:link,
a:visited,
a:active {
  color: #00a1b8;
}

a:hover{
  color: #64d6e8;
  text-decoration: underline;
}

.hoodie-header {
  background-color: #3f51b5;
  color: #fff;
}

.hoodie-header__links ul > li > a:link,
.hoodie-header__links ul > li > a:visited,
.hoodie-header__links ul > li > a:active {
  color: #fff;
}

.hoodie-header__links ul > li > a:hover {
  color: #f0e5c7;
  text-decoration: bold;
}

.hoodie-header__links ul > li > a.is-active {
  border-color: #fff;
}

/* Hoodie header with banner */

.hoodie-header.hoodie-banner {
  color: #fff;
}

.hoodie-header.hoodie-banner .hoodie-header__links ul > li > a {
  color: #fff;
}

.hoodie-header.hoodie-banner .hoodie-header__links ul > li > a.is-active {
  border-color: #fff;
}

.hoodie-header.hoodie-banner .hoodie-header__links ul > li > a.hover {
  color: #f0e5c7;
  text-decoration: bold;
}
