---
---

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff ;
$header-bg-color-secondary: #5c86bc;
$header-bg-color:#d0d1e6;

// Text
$section-headings-color:#5c86bc;
$body-text-color: #606c71 !default;
$body-link-color: #0479a8;
$body-link-color-hover: #a4dcde;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #777778;
$hr-border-color: #eff0f1 !default;

@import "{{ site.theme }}";
