<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>


        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="https://yeshan-geo.github.io">Go to <strong>Homepage</strong></a></li>
          <li><a href="https://yeshan-geo.github.io/pages/pub">List of <strong>Publications</strong></a></li>
          <li><a href="https://yeshan-geo.github.io/pages/research">Participated <strong>Research</strong></a></li>
        </ul>
        {% endif %}

        <h4>Contact</h4>
        <p class="view">Email: yes@cugb.edu.cn<br>Chinese webpage: <a class href="https://scholar.cugb.edu.cn/scholar/scholarDetail/2946.shtml">地大官网页面</a></p>
        <p class="view">No.29, Xueyuan Road<br>Haidian District, Beijing<br>People's Republic of China, ZIP 100083</p>

        <h4>Social Media</h4>
        <p class="view"><a href="https://twitter.com/yeshan_geo">Twitter <small>@yeshan_geo</small></a></p>
        <p class="view"><a href="https://orcid.org/0000-0001-9814-4771">ORCID <small>0000-0001-9814-4771</small></a></p>
        <p class="view"><a href="https://www.linkedin.com/in/yeshan1992/">LinkedIn <small></small></a></p>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>叶山，中国地质大学（北京）</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
